* {
	margin: 0;
	padding: 0;
}
.container{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 80px auto 100px;
	grid-template-areas: 
	"header header header"
	"main main main"
	"footer footer footer";
	display: grid;
}
.list-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	"li li li";
	display: grid;
}
header{
	grid-area: header;
	background-color: black;
}
main{
	grid-area: main;
	height: 800px;
	background-color: blue;
}
footer{
	grid-area: footer;
	background-color: red;
}
ul{
	list-style-type: none;
}
ul li{
	text-align: center;
}
ul li a{
	text-decoration: none;
	color: white;
	font-size: 2em;
	display: block;
	line-height: 80px;
}
ul li a:hover{
	background-color: gray;
}
